* , *::before, *::after{
    box-sizing: border-box;
  }
  

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive, sans-serif;
  }

h1 {
  text-align: center;
  font-size: 3rem;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
  }

.easy {
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
}

.normal {
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
}

.expert {
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: var(--cell-size);
    width: var(--cell-size);
  }

.cell.mole {
    background-image: url('images/mole.png');
    background-size: cover;
  }

.cell.noHit {
    background-image: url('images/mole3.png');
    background-clip: cover;
}

.cell.angry {
  background-image: url('images/mole-dead5.png');
  background-clip: cover;
}

.top-bar, .start{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
