/*---General styles---*/

* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 5px #535353;
  font-family: 'Press Start 2P', cursive, sans-serif;
  color: white;
  background-image: url('images/PixelArt.png');
  background-size: cover;
  width: 100%;
  height: 90%;
}

/*---Starting display, Instructions, Ending display---*/

.end-state, .start-state, .instruction-display {
  display: none;
  position: fixed;
  background-color: rgba(95, 97, 97, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.instruction-display p {
  font-size: 12px;
}

.start-message, .new-record-notif, .outcome-message, #instructions, .level-select, #back, #start, #restart {
  font-size: 18px;
  text-align: center;
}

.start-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

span {
  margin-left: 30px;
}

.level-select {
  margin: 50px;
}

ul {
  list-style: none;
}

li:first-child{
  margin-top: 30px;
}

li {
  margin-right: 65px;
  margin-bottom: 25px;
  text-align: center;
}

input {
  visibility:hidden;
}

label, #instructions {
  cursor: pointer;
}

input:checked + label {
  color: rgba(255, 255, 255, 0.7);
}

#start,  #restart {
  cursor: pointer;
  margin: 30px;
}

#back {
  cursor: pointer;
  margin: 30px;
}

.end-state.show , .start-state.show, .instruction-display.show{
  display: flex;
}

/*---Game display---*/

.game-display {
  display: none;
}

.game-display.show {
  display: initial;
}

.header {
  padding: 10px;
  width: 80%;
  text-align: center;
  text-shadow: 5px 5px 5px #535353;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(126, 126, 126, 0.3);
  box-shadow: 4px 4px 4px rgba(177, 175, 175, 0.5);
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#grid {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.easy {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  margin-top: 50px;
}

.normal {
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.expert {
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.cell {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('images/Hammer-1.png.png'), auto;
  height: 100px;
  width: 100px;
}

.cell.sm {
  height: 125px;
  width: 125px;;
}

.cell.md {
  height: 115px;
  width: 115px;;
}

.cell:active {
  cursor: url('images/Hammer-2.png.png'), auto;
}

.cell.slime {
  background: url('images/Yellow\ Slime\ Short.png');
  width: 96px;
  height: 96px;
  animation: jump 0.7s steps(17) infinite;
}

.cell.sad {
  background: url('images/Sad\ Slime\ Short.png');
  width: 96px;
  height: 96px;
  animation: jump 0.7s steps(17) infinite;
}

.cell.angry {
  background: url('images/Angry\ Slime\ Short.png');
  width: 96px;
  height: 96px;
  animation: jump 0.9s steps(17) infinite;
}

.cell.gem {
  background: url('images/Gem.png');
  width: 96px;
  height: 96px;
  animation: spawn-gem 0.9s steps(19) infinite;
}

@keyframes jump {
  100% {
      background-position: -1632px, 0;
  }
}

@keyframes spawn-gem {
  100% {
      background-position: -1824px, 0;
  }
}


